* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  padding: 0;
}

body {
  --primary: #ebc7b5;
  --secondary: #0f86a1;
  --white: #fff;
  --black: #333;
  --gray: #1b1b1bbb;
  --light-bg: #f8efe5;
  --subheading: #fff9;
  --input-br: #ffffff4d;
  --link: #666;
}

section {
  width: 100%;
  max-width: 1310px;
  margin: 0 auto;
}

.glide-up {
  animation: 1.5s cubic-bezier(.25, .46, .45, .94) 1s both glide-up;
}

.glide-down {
  animation: 1.5s cubic-bezier(.25, .46, .45, .94) 1s both glide-down;
}

.glide-down-close {
  animation: 1s cubic-bezier(.25, .46, .45, .94) 1s both glide-down-close;
}

.glide-up-close {
  animation: 1s cubic-bezier(.25, .46, .45, .94) 1s both glide-up-close;
}

.fade-in {
  animation: 1.5s cubic-bezier(.25, .46, .45, .94) 1s both fade-in;
}

@keyframes glide-down {
  from {
    opacity: 0;
    transform: translateY(-80px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes glide-up {
  from {
    opacity: 0;
    transform: translateY(80px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes glide-down-close {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes glide-up-close {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.page1, .page2, .page3, .page4, .page5 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
  position: sticky;
  top: 0;
}

.page1 {
  background: url("hero.7104da04.svg") center / cover no-repeat;
  height: auto;
  padding: 0 60px 48px;
}

.hero {
  padding-top: 40px;
}

.logo {
  filter: brightness(0%) invert();
}

.header {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.header a {
  cursor: pointer;
  color: #fff;
  letter-spacing: -1px;
  font-family: Open Sans, sans-serif;
  font-size: 18px;
  font-weight: 200;
}

.header__nav-links {
  align-items: center;
  gap: 70px;
  display: flex;
}

.header__nav-link {
  text-decoration: none;
  position: relative;
}

.header__nav-link:hover:after {
  transform-origin: 0;
  transform: scaleX(1);
}

.header__nav-link:after {
  content: "";
  transform-origin: 100%;
  background-color: var(--white);
  width: 100%;
  height: 2px;
  transition: transform .2s cubic-bezier(0, .5, .5, 1);
  position: absolute;
  bottom: -4px;
  left: 0;
  transform: scaleX(0);
}

.header__cta {
  letter-spacing: -1px;
  background: #fff;
  border-radius: 36px;
  padding: 12px 48px;
  font-family: Open Sans, sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  position: relative;
  overflow: hidden;
}

.header__cta:after {
  content: "";
  aspect-ratio: 1;
  transform-origin: center;
  background: var(--primary);
  z-index: 1;
  border-radius: 100px;
  width: 11%;
  margin: auto;
  transition: transform .3s cubic-bezier(0, .5, .5, 1);
  position: absolute;
  inset: 0;
  transform: scale(0);
}

.header__cta:hover:after {
  transform: scale(10);
}

.header__cta span {
  z-index: 2;
  position: relative;
}

.header__search-icon {
  cursor: pointer;
  color: #fff;
  margin-right: 24px;
  font-size: 24px;
}

.header__search-wrapper {
  align-items: center;
  display: flex;
}

.hero__heading {
  letter-spacing: -1px;
  color: #fff;
  font-family: Comfortaa, sans-serif;
  font-size: 4.7rem;
  font-weight: 500;
}

.hero__subheading {
  color: #fff;
  margin-top: 24px;
  font-family: Open Sans, sans-serif;
  font-size: 1.4rem;
  font-weight: 200;
}

.hero__copy {
  flex-basis: 50%;
  width: 50%;
  padding-right: 40px;
}

.hero__illustration {
  flex-basis: 50%;
  width: 50%;
}

.hero__content {
  margin-top: 120px;
  display: flex;
}

.hero__cta {
  background: var(--primary);
  border-radius: 36px;
  margin-top: 48px;
  padding: 20px 48px;
  font-family: Open Sans, sans-serif;
  font-size: 1.1rem;
  position: relative;
  overflow: hidden;
}

.hero__cta:after {
  content: "";
  aspect-ratio: 1;
  transform-origin: center;
  background: var(--white);
  z-index: 1;
  border-radius: 100px;
  width: 10%;
  margin: auto;
  transition: transform .4s cubic-bezier(0, .5, .5, 1);
  position: absolute;
  inset: 0;
  transform: scale(0);
}

.hero__cta:hover:after {
  transform: scale(10);
}

.hero__cta span {
  z-index: 2;
  position: relative;
}

.trust {
  justify-content: space-between;
  padding: 90px 0;
  display: flex;
}

.trust__item:first-child {
  margin-left: 100px;
}

.trust__item:last-child {
  margin-right: 100px;
}

.features {
  background: var(--light-bg);
  border-radius: 80px;
  grid-template-columns: repeat(3, 1fr);
  display: grid;
}

.features__item {
  padding: 0 64px 32px;
  position: relative;
}

.features__separator {
  opacity: .6;
  position: absolute;
  bottom: 32px;
  right: 0;
}

.features__description {
  color: #1b1b1bbb;
  text-align: center;
  font-family: Open Sans, sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 2.2rem;
}

.features__numb-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.features__numb-bg {
  margin: auto;
  position: absolute;
  inset: 0;
}

.features__numb {
  z-index: 1;
  margin: 40px 0;
  font-family: Comfortaa, sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
}

.page2 {
  background: var(--light-bg);
}

.syllabus {
  align-items: center;
  gap: 64px;
  padding: 64px 0;
  display: flex;
}

.syllabus > * {
  flex-basis: 50%;
  width: 50%;
}

.syllabus__heading {
  color: #333;
  margin-bottom: 64px;
  font-family: Comfortaa, sans-serif;
  font-size: 3.2rem;
  font-weight: 500;
}

.syllabus__step {
  display: flex;
  position: relative;
}

.syllabus__step--one {
  padding-left: 80px;
}

.syllabus__step-heading {
  color: #333;
  font-family: Comfortaa, sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
}

.syllabus__step-desc {
  color: #1b1b1bbb;
  font-family: Open Sans, sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 2.2rem;
}

.syllabus__step-numb > p {
  color: var(--light-bg);
  font-family: Open Sans, sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  position: absolute;
  top: 16px;
  left: 16px;
}

.syllabus__step--one, .syllabus__step--two {
  margin-bottom: 48px;
}

.syllabus__step--one .syllabus__step-numb {
  position: absolute;
  top: -16px;
  left: 0;
}

.syllabus__step--one .syllabus__step-heading {
  margin-bottom: 24px;
}

.syllabus__step--two .syllabus__step-arrow {
  padding-top: 24px;
  transform: scaleX(-1);
}

.syllabus__step--two .syllabus__step-numb {
  margin: 0 24px;
  position: relative;
}

.syllabus__step--two .syllabus__step-heading-wrap {
  align-items: center;
  display: flex;
}

.syllabus__step--two .syllabus__step-desc {
  margin-left: 98px;
  padding-right: 44px;
}

.page3 {
  background: url("bg-courses.524b8ab1.svg") center / cover no-repeat;
}

.courses {
  padding: 160px 0;
}

.courses__headings-wrapper {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
  display: flex;
}

.courses__heading {
  color: #fff;
  font-family: Comfortaa, sans-serif;
  font-size: 3.2rem;
  font-weight: 600;
}

.courses__subheading {
  color: var(--subheading);
  font-family: Open Sans, sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
}

.courses__list {
  gap: 32px;
  display: flex;
}

.courses__item {
  background: var(--light-bg);
  border-radius: 40px;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  min-height: 500px;
  padding: 48px 32px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.courses__item:before {
  content: "";
  transform-origin: 15px;
  background: var(--white);
  border-radius: 32px;
  width: 10%;
  height: 10%;
  transition: transform .3s cubic-bezier(.5, 1, 1, 1);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scale(0)translateX(-100%)translateY(100%);
}

.courses__item:hover:before {
  transform: scale(22);
}

.courses__item:hover i {
  transform: translateX(10px);
}

.courses__item > * {
  z-index: 1;
}

.courses__title {
  color: #333;
  margin-bottom: 16px;
  font-family: Open Sans, sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

.courses__description {
  font-family: Comfortaa, sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 2.2rem;
}

.courses__cta {
  color: var(--secondary);
  font-family: Open Sans, sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  text-decoration: none;
}

.courses__cta i {
  margin-left: 4px;
  font-size: 16px;
  transition: transform .3s cubic-bezier(.5, 1, 1, 1);
}

.courses__illustration {
  position: absolute;
  bottom: 0;
  right: 0;
}

.page4 {
  background: var(--light-bg);
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
}

.reviews__container {
  display: flex;
}

.reviews__item {
  padding: 0 64px 32px;
  position: relative;
}

.reviews__heading {
  text-align: center;
  color: var(--black);
  width: 100%;
  margin-bottom: 64px;
  font-family: Comfortaa, sans-serif;
  font-size: 3.2rem;
  font-weight: 500;
}

.reviews__separator {
  opacity: .6;
  background-image: url("dash-vertical.60ed6817.svg");
  background-repeat: repeat-y;
  width: 2px;
  height: 130px;
  position: absolute;
  bottom: 32px;
  right: 0;
}

.reviews__name {
  color: var(--black);
  text-align: center;
  margin-bottom: 16px;
  font-family: Open Sans, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.reviews__description {
  color: var(--gray);
  text-align: center;
  font-family: Open Sans, sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 2.2rem;
}

.reviews__pfp-wrapper {
  height: 120px;
  margin: auto auto 36px;
}

.reviews__pfp {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.page5 {
  background: var(--light-bg);
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
  display: flex;
}

.questions {
  background: url("bg-questions.da9f5add.svg") center / cover no-repeat;
  flex: 1;
  justify-content: center;
  align-items: center;
  max-width: none;
  display: flex;
}

.questions__content {
  width: 100%;
  max-width: 1310px;
  display: flex;
}

.questions__content > * {
  flex-basis: 50%;
  width: 50%;
}

.questions__heading {
  color: #fff;
  margin-bottom: 40px;
  font-family: Comfortaa, sans-serif;
  font-size: 3.4rem;
  font-weight: 500;
}

.questions__subheading {
  color: var(--subheading);
  max-width: 520px;
  margin-bottom: 48px;
  font-family: Open Sans, sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
}

.questions__input-wrapper {
  padding-right: 32px;
  display: flex;
}

.questions__input {
  color: var(--white);
  border: 1px solid var(--input-br);
  background: none;
  border-radius: 36px;
  flex: 1;
  margin-right: 16px;
  padding: 20px 32px;
  font-family: Open Sans, sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  transition: all .25s ease-in-out;
}

.questions__input::placeholder {
  color: var(--subheading);
}

.questions__input:focus {
  border-color: var(--white);
  outline: none;
}

.questions__input:hover {
  border-color: var(--white);
}

.questions__cta {
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.questions__submit {
  background: var(--primary);
  color: var(--black);
  border-radius: 36px;
  padding: 20px 56px;
  font-family: Open Sans, sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  transition: all .25s ease-in-out;
  position: relative;
  overflow: hidden;
}

.questions__submit:after {
  content: "";
  aspect-ratio: 1;
  transform-origin: center;
  background: var(--white);
  z-index: 1;
  border-radius: 100px;
  width: 10%;
  margin: auto;
  transition: transform .2s cubic-bezier(0, .5, .5, 1);
  position: absolute;
  inset: 0;
  transform: scale(0);
}

.questions__submit:hover:after {
  transform: scale(10);
}

.questions__submit span {
  z-index: 2;
  position: relative;
}

.questions__illustr {
  background-image: url("wordpress-bg.8c6b4fb0.svg");
  background-position: left 24px bottom;
  background-repeat: no-repeat;
  position: relative;
}

.questions__wordpress {
  z-index: 2;
  height: 100%;
  position: relative;
}

.questions__illustr-bg {
  z-index: 1;
  margin: auto;
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer {
  width: 100%;
  padding: 60px 0;
}

.footer__row {
  justify-content: space-between;
  display: flex;
}

.footer__nav-col {
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px 16px;
  display: grid;
}

.footer__nav-link, .footer__nav-info {
  color: var(--link);
  font-family: Open Sans, sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  text-decoration: none;
  transition: all .25s ease-in-out;
  position: relative;
}

.footer__nav-link:hover:after {
  transform-origin: 0;
  transform: scaleX(1);
}

.footer__nav-link:after {
  content: "";
  transform-origin: 100%;
  background-color: var(--black);
  width: 100%;
  height: 2px;
  transition: transform .2s cubic-bezier(0, .5, .5, 1);
  position: absolute;
  bottom: -4px;
  left: 0;
  transform: scaleX(0);
}

.footer__nav-links {
  align-items: center;
  column-gap: 64px;
  display: flex;
}

.footer__separator {
  opacity: .4;
}

.footer__socials {
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
  display: flex;
}

.footer__copyright {
  color: var(--link);
  align-items: center;
  gap: 8px;
  font-family: Open Sans, sans-serif;
  font-size: .8rem;
  display: flex;
}

.footer__social-links {
  gap: 24px;
  display: flex;
}

.footer__social-link {
  border: 1px solid #0003;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  text-decoration: none;
  transition: background-color .15s;
  display: flex;
}

.footer__social-link i {
  color: #00000080;
  margin: auto;
  font-size: 1.1rem;
  transition: color .15s;
}

.footer__social-link:hover {
  background-color: var(--secondary);
}

.footer__social-link:hover i {
  color: var(--white);
}

.follow-wrap {
  color: var(--link);
  text-align: center;
  border-top: 1px solid #0000001a;
  padding: 16px 0;
  font-family: Open Sans, sans-serif;
}

.follow-wrap a {
  color: inherit;
}

/*# sourceMappingURL=index.a5210753.css.map */
