* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  background: none;
}

body {
  --primary: #ebc7b5;
  --secondary: #0f86a1;
  --white: #ffffff;
  --black: #333333;
  --gray: #1b1b1bbb;
  --light-bg: #f8efe5;
  --subheading: #ffffff99;
  --input-br: hsla(0, 0%, 100%, 0.3);
  --link: #666;
}

section {
  max-width: 1310px;
  margin: 0 auto;
  width: 100%;
}

.glide-up {
  animation: glide-up 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 1s;
}
.glide-down {
  animation: glide-down 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 1s;
}
.glide-down-close {
  animation: glide-down-close 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 1s;
}
.glide-up-close {
  animation: glide-up-close 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 1s;
}
.fade-in {
  animation: fade-in 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 1s;
}

@keyframes glide-down {
  from {
    opacity: 0;
    transform: translateY(-80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes glide-up {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes glide-down-close {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes glide-up-close {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.page1,
.page2,
.page3,
.page4,
.page5 {
  min-height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page1 {
  height: auto;
  background: url("./hero.svg") no-repeat center center/cover;
  padding: 0 60px 48px;
}

.hero {
  padding-top: 40px;
}

.logo {
  filter: brightness(0%) invert(100%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  font-weight: 200;
  font-family: "Open Sans", sans-serif;
  letter-spacing: -1px;
}

.header__nav-links {
  display: flex;
  align-items: center;
  gap: 70px;
}
.header__nav-link {
  text-decoration: none;
  position: relative;
}
.header__nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.header__nav-link::after {
  content: "";
  transition: transform 0.2s cubic-bezier(0, 0.5, 0.5, 1);
  transform: scaleX(0);
  transform-origin: right;
  height: 2px;
  width: 100%;
  background-color: var(--white);
  position: absolute;
  bottom: -4px;
  left: 0;
}

.header__cta {
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  letter-spacing: -1px;
  font-size: 1.1rem;
  background: #fff;
  border-radius: 36px;
  padding: 12px 48px;
  position: relative;
  overflow: hidden;
}
.header__cta::after {
  content: "";
  border-radius: 100px;
  width: 11%;
  aspect-ratio: 1/1;
  transition: transform 0.3s cubic-bezier(0, 0.5, 0.5, 1);
  transform: scale(0);
  transform-origin: center;
  background: var(--primary);
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.header__cta:hover::after {
  transform: scale(10);
}
.header__cta span {
  z-index: 2;
  position: relative;
}

.header__search-icon {
  cursor: pointer;
  margin-right: 24px;
  color: #fff;
  font-size: 24px;
}

.header__search-wrapper {
  display: flex;
  align-items: center;
}

.hero__heading {
  font-size: 4.7rem;
  font-weight: 500;
  font-family: "Comfortaa", sans-serif;
  letter-spacing: -1px;
  color: #fff;
}

.hero__subheading {
  font-size: 1.4rem;
  font-weight: 200;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  margin-top: 24px;
}

.hero__copy {
  width: 50%;
  flex-basis: 50%;
  padding-right: 40px;
}

.hero__illustration {
  width: 50%;
  flex-basis: 50%;
}

.hero__content {
  margin-top: 120px;
  display: flex;
}

.hero__cta {
  padding: 20px 48px;
  font-size: 1.1rem;
  font-family: "Open Sans", sans-serif;
  background: var(--primary);
  border-radius: 36px;
  margin-top: 48px;
  position: relative;
  overflow: hidden;
}
.hero__cta::after {
  content: "";
  border-radius: 100px;
  width: 10%;
  aspect-ratio: 1/1;
  transition: transform 0.4s cubic-bezier(0, 0.5, 0.5, 1);
  transform: scale(0);
  transform-origin: center;
  background: var(--white);
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  /* left: 50%; */
  margin: auto;
}
.hero__cta:hover::after {
  transform: scale(10);
}
.hero__cta span {
  z-index: 2;
  position: relative;
}

.trust {
  display: flex;
  justify-content: space-between;
  padding: 90px 0;
}
.trust__item:first-child {
  margin-left: 100px;
}
.trust__item:last-child {
  margin-right: 100px;
}

.features {
  background: var(--light-bg);
  border-radius: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.features__item {
  position: relative;
  padding: 0 64px 32px;
}

.features__separator {
  opacity: 0.6;
  position: absolute;
  bottom: 32px;
  right: 0;
}

.features__description {
  font-size: 1.1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 2.2rem;
  color: #1b1b1bbb;
  text-align: center;
}

.features__numb-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.features__numb-bg {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  bottom: 0;
  top: 0;
}
.features__numb {
  font-family: "Comfortaa", sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  margin: 40px 0;
  z-index: 1;
}

.page2 {
  background: var(--light-bg);
}

.syllabus {
  display: flex;
  gap: 64px;
  align-items: center;
  padding: 64px 0;
}

.syllabus > * {
  width: 50%;
  flex-basis: 50%;
}

.syllabus__heading {
  margin-bottom: 64px;
  font-size: 3.2rem;
  font-weight: 500;
  font-family: "Comfortaa", sans-serif;
  color: #333333;
}

.syllabus__step {
  position: relative;
  display: flex;
}

.syllabus__step--one {
  padding-left: 80px;
}

.syllabus__step-heading {
  font-size: 1.4rem;
  font-weight: 700;
  font-family: "Comfortaa", sans-serif;
  color: #333333;
}

.syllabus__step-desc {
  font-size: 1.1rem;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  color: #1b1b1bbb;
  line-height: 2.2rem;
}

.syllabus__step-numb > p {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 1.1rem;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  color: var(--light-bg);
}

.syllabus__step--one,
.syllabus__step--two {
  margin-bottom: 48px;
}
.syllabus__step--one .syllabus__step-numb {
  position: absolute;
  top: -16px;
  left: 0;
}
.syllabus__step--one .syllabus__step-heading {
  margin-bottom: 24px;
}

.syllabus__step--two .syllabus__step-arrow {
  transform: scaleX(-1);
  padding-top: 24px;
}
.syllabus__step--two .syllabus__step-numb {
  position: relative;
  margin: 0 24px;
}
.syllabus__step--two .syllabus__step-heading-wrap {
  display: flex;
  align-items: center;
}
.syllabus__step--two .syllabus__step-desc {
  margin-left: 98px;
  padding-right: 44px;
}

.page3 {
  background: url("./bg-courses.svg") no-repeat center center/cover;
}
.courses {
  padding: 160px 0;
}
.courses__headings-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 64px;
}

.courses__heading {
  font-size: 3.2rem;
  font-weight: 600;
  font-family: "Comfortaa", sans-serif;
  color: #fff;
}

.courses__subheading {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--subheading);
}

.courses__list {
  display: flex;
  gap: 32px;
}

.courses__item {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--light-bg);
  border-radius: 40px;
  padding: 48px 32px;
  min-height: 500px;
  overflow: hidden;
}

.courses__item::before {
  content: "";
  border-radius: 32px;
  width: 10%;
  height: 10%;
  transition: transform 0.3s cubic-bezier(0.5, 1, 1, 1);
  transform: scale(0) translateX(-100%) translateY(100%);
  transform-origin: 15px;
  background: var(--white);
  position: absolute;
  bottom: 0;
  left: 0;
}
.courses__item:hover::before {
  transform: scale(22);
}
.courses__item:hover i {
  transform: translateX(10px);
}

.courses__item > * {
  z-index: 1;
}

.courses__title {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  color: #333333;
  margin-bottom: 16px;
}

.courses__description {
  font-size: 1.3rem;
  font-weight: 700;
  font-family: "Comfortaa", sans-serif;
  line-height: 2.2rem;
}

.courses__cta {
  font-size: 1.3rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: var(--secondary);
  text-decoration: none;
}
.courses__cta i {
  font-size: 16px;
  margin-left: 4px;
  transition: transform 0.3s cubic-bezier(0.5, 1, 1, 1);
}

.courses__illustration {
  position: absolute;
  bottom: 0;
  right: 0;
}

.page4 {
  background: var(--light-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.reviews__container {
  display: flex;
}
.reviews__item {
  position: relative;
  padding: 0 64px 32px;
}
.reviews__heading {
  width: 100%;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
  font-family: "Comfortaa", sans-serif;
  color: var(--black);
  margin-bottom: 64px;
}
.reviews__separator {
  height: 130px;
  width: 2px;
  opacity: 0.6;
  background-image: url("./dash-vertical.svg");
  background-repeat: repeat-y;
  position: absolute;
  bottom: 32px;
  right: 0;
}
.reviews__name {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  color: var(--black);
  margin-bottom: 16px;
  text-align: center;
}
.reviews__description {
  font-size: 1.1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 2.2rem;
  color: var(--gray);
  text-align: center;
}
.reviews__pfp-wrapper {
  margin: auto;
  height: 120px;
  margin-bottom: 36px;
}
.reviews__pfp {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.page5 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: var(--light-bg);
}

.questions {
  flex: 1;
  max-width: none;
  background: url("./bg-questions.svg") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.questions__content {
  max-width: 1310px;
  width: 100%;
  display: flex;
}
.questions__content > * {
  width: 50%;
  flex-basis: 50%;
}

.questions__heading {
  font-size: 3.4rem;
  font-weight: 500;
  color: #ffffff;
  font-family: "Comfortaa", sans-serif;
  margin-bottom: 40px;
}

.questions__subheading {
  font-size: 1.4rem;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  color: var(--subheading);
  margin-bottom: 48px;
  max-width: 520px;
}

.questions__input-wrapper {
  display: flex;
  padding-right: 32px;
}
.questions__input {
  flex: 1;
  margin-right: 16px;
  background: transparent;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  padding: 20px 32px;
  border-radius: 36px;
  font-size: 1.1rem;
  color: var(--white);
  border: 1px solid var(--input-br);
  transition: all 0.25s ease-in-out;
}
.questions__input::placeholder {
  color: var(--subheading);
}
.questions__input:focus {
  outline: none;
  border-color: var(--white);
}
.questions__input:hover {
  border-color: var(--white);
}
.questions__cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.questions__submit {
  background: var(--primary);
  border-radius: 36px;
  padding: 20px 56px;
  font-size: 1.1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: var(--black);
  transition: all 0.25s ease-in-out;
  position: relative;
  overflow: hidden;
}
.questions__submit::after {
  content: "";
  border-radius: 100px;
  width: 10%;
  aspect-ratio: 1/1;
  transition: transform 0.2s cubic-bezier(0, 0.5, 0.5, 1);
  transform: scale(0);
  transform-origin: center;
  background: var(--white);
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.questions__submit:hover::after {
  transform: scale(10);
}
.questions__submit span {
  z-index: 2;
  position: relative;
}

.questions__illustr {
  position: relative;
  background-image: url("./wordpress-bg.svg");
  background-repeat: no-repeat;
  background-position: bottom left 24px;
}
.questions__wordpress {
  position: relative;
  z-index: 2;
  height: 100%;
}
.questions__illustr-bg {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
}

.footer {
  width: 100%;
  padding: 60px 0;
}
.footer__row {
  display: flex;
  justify-content: space-between;
}
.footer__nav-col {
  display: grid;
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-template-columns: repeat(2, minmax(0, 1fr));
  row-gap: 20px;
  column-gap: 16px;
}
.footer__nav-link,
.footer__nav-info {
  font-size: 1.1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: var(--link);
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  position: relative;
}

.footer__nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.footer__nav-link::after {
  content: "";
  transition: transform 0.2s cubic-bezier(0, 0.5, 0.5, 1);
  transform: scaleX(0);
  transform-origin: right;
  height: 2px;
  width: 100%;
  background-color: var(--black);
  position: absolute;
  bottom: -4px;
  left: 0;
}

.footer__nav-links {
  display: flex;
  align-items: center;
  column-gap: 64px;
}
.footer__separator {
  opacity: 0.4;
}

.footer__socials {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__copyright {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Open Sans", sans-serif;
  color: var(--link);
  font-size: 0.8rem;
}
.footer__social-links {
  display: flex;
  gap: 24px;
}
.footer__social-link {
  display: flex;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  text-decoration: none;
  transition: background-color 0.15s ease;
}
.footer__social-link i {
  margin: auto;
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.5);
  transition: color 0.15s ease;
}
.footer__social-link:hover {
  background-color: var(--secondary);
}
.footer__social-link:hover i {
  color: var(--white);
}
.follow-wrap {
  padding: 16px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-family: "Open Sans", sans-serif;
  color: var(--link);
  text-align: center;
}
.follow-wrap a {
  color: inherit;
}
